########################################
# STM32CubeIDE
########################################
.cproject
.project
.settings/
Debug/
Release/
.build/
MXGenerated/

# STM32CubeMX
*.ioc
*.log

########################################
# Keil MDK-ARM / uVision
########################################
*.axf
*.bak
*.crf
*.d
*.dep
*.elf
*.hex
*.iex
*.lst
*.map
*.o
*.plg
*.sct
*.tra
*.uvoptx
*.uvgui.*
*.uvguix.*
*.uvtmp
*.uvprojx
*.lnp

########################################
# CMSIS / FreeRTOS 中間或編譯產物
########################################
build/
*.bin
*.out
*.a
*.lib

########################################
# General temp files
########################################
*.tmp
*.swp
*.swo
*.orig

########################################
# IDE Settings (可選：若團隊統一 VSCode 可保留)
########################################
.vscode/
.idea/
*.code-workspace
